# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environnement
.env
.venv/
venv/
env/

# Node
node_modules/
npm-debug.log*

# IDE
.vscode/

# Tailwind
.django_tailwind_cli/
assets/css/tailwind.css
